<div class="border-top">
  <h5>Previous Comments</h5>
  <div class="modalComments">
  </div>
  <!--{{#each message}}
  <div class="border-top border-bottom">
    <h6></h6>
    <p></p>
    <button class="btn btn-warning commentEdit">Edit</button>
    <button class="btn btn-danger commentDelete">Delete</button>
  </div>
  {{/each}}-->
</div>