<div id="modalCompose" data-role="post" data-noteid="">
  <h5>Leave a Comment</h5>
  <form>
    <div class="form-group">
      <label for="commentTitle">Heading</label>
      <input type="text" class="form-control" id="commentTitle" aria-describedby="yourName">
      <label for="commentBody">Message</label>
      <input type="text" class="form-control" id="commentBody" aria-describedby="commentBody">
    </div>
    <button type="submit" class="btn btn-primary" id="compose">Submit</button>
  </form>
</div>